accelerators/digit_client/digit_client/services/__pycache__
accelerators/digit_client/digit_client/models/__pycache__
accelerators/digit_client/digit_client/__pycache__
accelerators/authenticate/__pycache__
accelerators/digit_client/dist
accelerators/digit_client/tests/__pycache__
accelerators/digit_client/digit_client/__pycache__
accelerators/digit_client/build
accelerators/digit_client/build/lib
