@import url("../index.scss");

.digit-checkbox-wrap {
  @apply flex mb-md relative items-baseline;

  input {
    width: 38px;
    height: 38px;
    @apply opacity-0 absolute top-0 left-0 z-10;
    @extend .light-input-border;
  }

  .input-emp {
    @extend input;
    width: 24px;
    height: 24px;
  }

  .digit-custom-checkbox {
    width: 38px;
    height: 38px;
    @apply absolute top-0 left-0 border border-solid border-input-border z-0;
    @extend .light-input-border;

    img {
      @apply opacity-0;
    }

    svg {
      @apply opacity-0;
    }
  }

  .digit-custom-checkbox-emp {
    @extend .digit-custom-checkbox;
    width: 24px;
    height: 24px;
  }

  input:checked ~ .digit-custom-checkbox,
  input:hover ~ .digit-custom-checkbox {
    @apply border-2 border-primary-main;
    @extend .light-input-border;
  }

  input:checked ~ .digit-custom-checkbox img {
    @apply opacity-100;
  }

  input:checked ~ .digit-custom-checkbox svg {
    @apply opacity-100;
    width: 35px;
    height: 35px;
  }

  .label {
    margin-left: 56px;
    @apply text-form-field text-text-primary;
    @extend .light-text-color-primary;
  }
}
