@import url("../index.scss");
@import url("../typography.scss");

.digit-info-banner-wrap {
  @extend .alert-info-bg;
  @apply bg-opacity-25 m-sm p-md;
  max-width: 960px;

  border-radius: 4px;
  svg {
    margin-top: 5px;
    @apply rounded-full;
  }

  div {
    @apply flex items-center;
  }

  h2 {
    @extend .typography.text-heading-m;
    @apply text-heading-m text-link-normal mb-md font-bold ml-sm;
  }

  p {
    @extend .typography.text-body-l;
    @apply text-body-l text-link-normal whitespace-pre-line;
  }
  &.digit-core-variant {
    margin: 2rem 0px;
    padding: 10px;
    background-color: #ffe2b5;
    border-radius: 0.25rem;
  }
}

@screen dt {
  .digit-info-banner-wrap {
    h2 {
      @apply text-heading-m-dt;
    }

    p {
      @apply text-body-l-dt;
    }
  }
}
