.digit-label-field-pair {
  @apply flex items-center;

  & .label,
  & header {
    margin-right: 1.5rem;
    width: 33%;
    max-width: 17rem;
    @media (max-width: 768px) {
      /* Media query for tablets */
      max-width: 12rem;
    }

    @media (max-width: 480px) {
      /* Media query for mobile */
      max-width: 10rem;
    }
  }

  & .digit-field {
    margin-right: 20%;
    width: 60%;
    max-width: 38rem;
    @media (max-width: 768px) {
      /* Media query for tablets */
      max-width: 28rem;
    }
    @media (max-width: 480px) {
      /* Media query for mobile */
      max-width: 15rem;
    }
  }
}

@screen dt {
  .digit-employee-card {
    .digit-label-field-pair {
      @apply flex items-center;

      h2 {
        width: 30%;
      }

      .digit-field {
        width: 50%;
        margin-right: 20%;
        .field {
          margin-right: unset;
        }
        .digit-field {
          @apply mb-lg;
          margin-right: unset;
        }
      }
    }
  }
}
