@import url("../index.scss");
@import url("../typography.scss");

.digit-mobile-number-container {
  @apply flex  items-center;
  width: 100%;
  .digit-text-mobile-input-width {
    .digit-text-input-width {
      width: calc(540px - 41px);
    }
  }
  .digit-citizen-card-input--front {
    @extend .typography.text-body-s;
    @extend .light-background;
    width: fit-content !important;
    display: flex;
    align-items: center;
    /* background: theme(colors.grey.mid); */
    border-right: 0;
    padding-right: 5px;
  }

  .digit-citizen-card-input {
    @extend .typography.text-body-s;
    @apply mb-lg pl-sm outline-none block border w-full h-10 border-input-border border-solid bg-white leading-10 text-form-field text-text-primary;
  }

  .digit-citizen-card-input--front {
    @extend .typography.text-body-s;
    width: fit-content !important;
    display: flex;
    align-items: center;
    background: theme(colors.grey.mid);
    border-right: 0;
    padding-right: 5px;
  }
  .digit-employee-card-input-error {
    @extend .typography.text-body-s;
    @extend .light-input-border;
    @extend .alert-error;
    @apply mb-lg pl-sm block w-full h-10 outline-none border-2 border-solid bg-white leading-10 text-form-field text-text-primary;
  }
}
