.digit-employee-select-wrap {
  @apply mb-lg relative;

  .digit-select {
    @extend .light-input-border;
    @apply relative block w-full h-10 border border-solid border-input-border;
    &:hover {
      @extend .light-input-border;
      @apply border-2 border-solid border-primary-main;
    }
    input[type="text"] {
      width: calc(100% - 32px);
      background-color: transparent;
      @extend .light-input-border;
      @extend .light-text-color-primary;
      @apply absolute z-10 w-full h-full outline-none text-text-primary text-form-field pl-sm;
    }

    p {
      padding-top: 9px;
      @extend .light-text-color-primary;
      @apply text-form-field text-text-primary float-left ml-sm;
    }

    img {
      @apply float-right h-6 w-6 mt-sm mr-sm;
    }

    svg {
      @apply absolute right-0 float-right h-6 w-6 mt-sm mr-sm;
    }
  }

  .digit-select-active {
    @apply relative block w-full h-10 border-2 border-solid border-primary-main;
    @extend .light-input-border;

    input[type="text"] {
      width: calc(100% - 32px);
      background-color: transparent;
      @extend .light-background;
      @extend .light-text-color-primary;

      @apply absolute z-10 w-full h-full outline-none text-text-primary text-form-field pl-sm;
    }

    p {
      @extend .light-text-color-primary;
      @apply text-form-field text-text-primary float-left ml-sm;
    }

    p {
      padding-top: 9px;
    }

    img {
      @apply float-right h-6 w-6 mt-sm mr-sm;
    }

    svg {
      @apply absolute right-0 float-right h-6 w-6 mt-sm mr-sm;
    }
  }

  .digit-options-card {
    width: 100% !important;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    max-height: 400px;
    overflow: auto;
    @apply absolute z-20 mt-xs bg-white max-w-full;

    p {
      padding-top: 14px;
      @extend .light-text-color-primary;
      @apply w-full h-12 pl-sm text-text-primary text-form-field;

      &:hover {
        @apply bg-grey-mid;
        @extend .light-background;
      }
    }
  }
}

.digit-employee-select-wrap--elipses {
  width: 85% !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.digit-select-wrap {
  @apply mb-lg relative;
  max-width: 540px;

  .digit-select {
    @apply relative block w-full h-10 border border-solid border-input-border;
    @extend .light-input-border;

    input[type="text"] {
      width: calc(100% - 32px);
      background-color: transparent;
      @extend .light-text-color-primary;
      @apply absolute z-10 w-full h-full outline-none text-text-primary text-form-field pl-sm;
    }

    p {
      padding-top: 9px;
      @extend .light-text-color-primary;
      @apply text-form-field text-text-primary float-left ml-sm;
    }

    img {
      @apply float-right h-6 w-6 mt-sm mr-sm;
    }

    svg {
      @apply absolute right-0 float-right h-6 w-6 mt-sm mr-sm;
    }
  }

  .digit-select-active {
    @extend .light-input-border;
    @apply relative block w-full h-10 border-2 border-solid border-primary-main;

    input[type="text"] {
      width: calc(100% - 32px);
      background-color: transparent;
      @extend .light-text-color-primary;
      @apply absolute z-10 w-full h-full outline-none text-text-primary text-form-field pl-sm;
    }

    p {
      @extend .light-text-color-primary;
      @apply text-form-field text-text-primary float-left ml-sm;
    }

    p {
      padding-top: 9px;
    }

    img {
      @apply float-right h-6 w-6 mt-sm mr-sm;
    }

    svg {
      @apply absolute right-0 float-right h-6 w-6 mt-sm mr-sm;
    }
  }

  .digit-options-card {
    width: 100% !important;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    @extend .light-background;
    @apply absolute z-20 mt-xs bg-white;

    p {
      padding-top: 14px;
      @extend .light-text-color-primary;
      @apply w-full h-12 pl-sm text-text-primary text-form-field;

      &:hover {
        @apply bg-grey-mid;
      }
    }
  }
}

@screen dt {
}
