@import url("../typography.scss");

.digit-card-textarea,
.digit-employee-card-textarea {
  @extend .light-input-border;
  @extend .typography.text-body-s;
  @apply block outline-none mt-md mb-lg w-full bg-white h-24 p-sm;
  &.error {
    border: 1px solid theme(digitv2.alert.error);
  }
  &.disabled {
    @apply border-grey-dark text-grey-dark !important;
    pointer-events: none !important;
  }
}
.digit-employee-card-textarea {
  @extend .typography.text-body-s;
  @apply w-full;
}
.digit-cell-text {
  color: theme(colors.text.secondary);
}
