.selector-button-primary {
  @apply h-8 bg-primary-main text-center border-b-2 border-input-border border-solid outline-none px-lg;

  &:focus {
    @apply outline-none;
  }

  h2 {
    @apply font-rc font-medium text-legend text-white;
  }
}

.selector-button-border {
  @apply h-8 bg-border text-center border-b-2 border-input-border border-solid outline-none px-lg;

  &:focus {
    @apply outline-none;
  }

  h2 {
    @apply font-rc font-medium text-legend text-text-primary;
  }
}

.input-mirror-selector-button{
  @apply h-16 bg-border text-center border-b-2 border-input-border border-solid outline-none px-lg !important;

  &:focus {
    @apply outline-none;
  }

  h2 {
    @apply font-rc font-medium text-legend text-text-primary;
  }
}

.selector-button-primary-disabled {
  @apply h-8 bg-primary-main text-center border-b-2 border-input-border border-solid outline-none px-lg opacity-50;

  &:focus {
    @apply outline-none;
  }

  h2 {
    @apply font-rc font-medium text-legend text-white;
  }
}
.submit-bar:focus {
  @apply outline-none !important;
}

.jk-digit-secondary-btn {
  width: auto;
  height: 40px;
  background: theme(colors.white);
  border: 1px solid theme(colors.primary.main);
  padding: 12px;
  color: theme(colors.primary.main);
  display: flex;
  align-items: center;
  font-size: 19px;
  cursor: pointer;
  svg {
    margin: 0 10px;
  }
}
.jk-digit-primary-btn {
  width: auto;
  height: 40px;
  background: theme(colors.primary.main);
  border: 1px solid theme(colors.primary.main);
  padding: 6px;
  color: theme(colors.white);
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 19px;
  box-shadow: inset 0 -2px 0 #0b0c0c;
  svg {
    margin: 0 15px;
  }
}

.jk-digit-disabled-btn {
  opacity: 0.5;
  font-size: 19px;
  cursor: not-allowed;
}

.jk-header-btn-wrapper {
  display: flex;
  justify-content: space-between;
}

/* for mobile view */
@media (max-width: 780px) {
  .jk-header-btn-wrapper {
    flex-flow: column;
    margin-bottom: 15px;
  }
}
