.sidebar-link:hover .arrow {
  display: block;
}
.hidden-arrow {
  display: none;
}
.new-dropdown-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  height: 3rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;  
}