@import url("./components/actionbarV2.scss");
@import url("./components/actionLinkV2.scss");
@import url("./components/appContainerV2.scss");
@import url("./components/backButtonV2.scss");
@import url("./components/bannerV2.scss");
@import url("./components/bodyContainerV2.scss");
@import url("./components/breadCrumbV2.scss");
@import url("./components/breakLineV2.scss");
@import url("./components/buttonsV2.scss");
@import url("./components/cardBasedOptionsV2.scss");
@import url("./components/cardLabelV2.scss");
@import url("./components/cardV2.scss");
@import url("./components/checkboxV2.scss");
@import url("./components/checkpointV2.scss");
@import url("./components/CitizenHomeCardV2.scss");
@import url("./components/collapseAndExpandGroups.scss");
@import url("./components/dateWrapV2.scss");
@import url("./components/detailsCardV2.scss");
@import url("./components/displayPhotosV2.scss");
@import url("./components/ErrorMessage.scss");
@import url("./components/FormComposerV2.scss");
@import url("./components/headerV2.scss");
@import url("./components/headerBarV2.scss");
@import url("./components/infoBannerV2.scss");
@import url("./components/keynoteV2.scss");
@import url("./components/labelFieldPairV2.scss");
@import url("./components/loaderV2.scss");
@import url("./components/mobileNumberV2.scss");
@import url("./components/modalV2.scss");
@import url("./components/multiSelectDropdownV2.scss");
@import url("./components/multiUploadWrapperV2.scss");
@import url("./components/noresultsfoundV2.scss");
@import url("./components/otpInputV2.scss");
@import url("./components/PageBasedInputV2.scss");
@import url("./components/paragraphV2.scss");
@import url("./components/popUpV2.scss");
@import url("./components/radiobtnV2.scss");
@import url("./components/ratingV2.scss");
@import url("./components/searchActionV2.scss");
@import url("./components/searchFormV2.scss");
@import url("./components/selectdropdownV2.scss");
@import url("./components/tagV2.scss");
@import url("./components/telephoneV2.scss");
@import url("./components/textareaV2.scss");
@import url("./components/textInputV2.scss");
@import url("./components/uploadFileV2.scss");
@import url("./components/WhatsNewCardV2.scss");

/* pages */
@import url("./pages/employee/index.scss");

/* important to be remove after fixing the components */
.light {
  &-primary {
    color: theme(digitv2.lightTheme.primary);
    &-button {
      background-color: theme(digitv2.lightTheme.primary);
    }

    &-bg {
      background-color: theme(digitv2.lightTheme.primary-bg);
    }
  }

  &-text-color {
    &-primary {
      color: theme(digitv2.lightTheme.text-color-primary);
    }

    &-secondary {
      color: theme(digitv2.lightTheme.text-color-secondary);
    }

    &-disabled {
      color: theme(digitv2.lightTheme.text-color-disabled);
    }
  }

  &-background {
    background-color: theme(digitv2.lightTheme.background);
  }

  &-paper {
    &-primary {
      background-color: theme(digitv2.lightTheme.paper);
      &-color {
        color: theme(digitv2.lightTheme.paper);
      }
    }

    &-secondary {
      background-color: theme(digitv2.lightTheme.paper-secondary);
    }
    &-border {
      border: 0.5px solid;
      border-radius: 0.5rem;
      border-color: theme(digitv2.lightTheme.background);
    }
  }

  &-divider {
    background-color: theme(digitv2.lightTheme.divider);
  }

  &-header-sidenav {
    color: theme(digitv2.lightTheme.header-sidenav);
  }

  &-input-border {
    border-color: theme(digitv2.lightTheme.input-border);
  }
}

.alert {
  &-error {
    color: theme(digitv2.alert.error);

    &-bg {
      background-color: theme(digitv2.alert.error-bg);
    }
  }

  &-success {
    color: theme(digitv2.alert.success);

    &-bg {
      background-color: theme(digitv2.alert.success-bg);
    }
  }

  &-info {
    color: theme(digitv2.alert.info);

    &-bg {
      background-color: theme(digitv2.alert.info-bg);
    }
  }
}

.chart {
  &-item-1 {
    color: theme(digitv2.chart.chart-1);
  }

  &-item-1-gradient {
    color: theme(digitv2.chart.chart-1-gradient);
  }

  &-item-2 {
    color: theme(digitv2.chart.chart-2);
  }

  &-item-2-gradient {
    color: theme(digitv2.chart.chart-2-gradient);
  }

  &-item-3 {
    color: theme(digitv2.chart.chart-3);
  }

  &-item-4 {
    color: theme(digitv2.chart.chart-4);
  }

  &-item-5 {
    color: theme(digitv2.chart.chart-5);
  }
}
