//work in progress
.typography {
  &.text-heading-xl-dt {
    font-family: theme(digitv2.fontFamily.rc);
    font-size: theme(digitv2.fontSize.heading-xl-dt);
    font-style: theme(digitv2.fontStyle.normal);
    font-weight: theme(digitv2.fontWeight.bold);

    @media (max-width: theme(digitv2.screens.dt)) {
      font-size: theme(digitv2.fontSize.heading-xl);
    }
  }

  &.text-heading-xl {
    font-family: theme(digitv2.fontFamily.sans);
    font-size: theme(digitv2.fontSize.heading-xl);
    font-style: theme(digitv2.fontStyle.normal);
    font-weight: theme(digitv2.fontWeight.bold);
  }
}
