.typography {
  // Heading XL DT
  &.text-heading-xl-dt {
    font-family: theme(digitv2.fontFamily.rc);
    font-size: theme(digitv2.fontSize.heading-xl-dt);
    font-style: theme(digitv2.fontStyle.normal);
    font-weight: theme(digitv2.fontWeight.bold);

    @media (max-width: theme(digitv2.screens.dt)) {
      font-size: theme(digitv2.fontSize.heading-xl);
    }
  }

  // Heading XL
  &.text-heading-xl {
    font-family: theme(digitv2.fontFamily.sans);
    font-size: theme(digitv2.fontSize.heading-xl);
    font-style: theme(digitv2.fontStyle.normal);
    font-weight: theme(digitv2.fontWeight.bold);

    @media (max-width: theme(digitv2.screens.sm.max)) {
      font-size: theme(digitv2.fontSize.heading-xl);
    }
  }

  // Heading L DT
  &.text-heading-l-dt {
    font-family: theme(digitv2.fontFamily.rc);
    font-size: theme(digitv2.fontSize.heading-l-dt);
    font-style: theme(digitv2.fontStyle.normal);
    font-weight: theme(digitv2.fontWeight.bold);

    @media (max-width: theme(digitv2.screens.dt)) {
      font-size: theme(digitv2.fontSize.heading-l);
    }
  }

  // Heading L
  &.text-heading-l {
    font-family: theme(digitv2.fontFamily.sans);
    font-size: theme(digitv2.fontSize.heading-l);
    font-style: theme(digitv2.fontStyle.normal);
    font-weight: theme(digitv2.fontWeight.bold);

    @media (max-width: theme(digitv2.screens.sm.max)) {
      font-size: theme(digitv2.fontSize.heading-l);
    }
  }

  // Heading M DT
  &.text-heading-m-dt {
    font-family: theme(digitv2.fontFamily.rc);
    font-size: theme(digitv2.fontSize.heading-m-dt);
    font-style: theme(digitv2.fontStyle.normal);
    font-weight: theme(digitv2.fontWeight.bold);

    @media (max-width: theme(digitv2.screens.dt)) {
      font-size: theme(digitv2.fontSize.heading-m);
    }
  }

  // Heading M
  &.text-heading-m {
    font-family: theme(digitv2.fontFamily.sans);
    font-size: theme(digitv2.fontSize.heading-m);
    font-style: theme(digitv2.fontStyle.normal);
    font-weight: theme(digitv2.fontWeight.bold);

    @media (max-width: theme(digitv2.screens.sm.max)) {
      font-size: theme(digitv2.fontSize.heading-m);
    }
  }

  // Heading S
  &.text-heading-s {
    font-family: theme(digitv2.fontFamily.sans);
    font-size: theme(digitv2.fontSize.heading-s);
    font-style: theme(digitv2.fontStyle.normal);
    font-weight: theme(digitv2.fontWeight.bold);
  }

  // Caption XL DT
  &.text-caption-xl-dt {
    font-family: theme(digitv2.fontFamily.rc);
    font-size: theme(digitv2.fontSize.caption-xl-dt);
    font-style: theme(digitv2.fontStyle.normal);
    font-weight: theme(digitv2.fontWeight.regular);

    @media (max-width: theme(digitv2.screens.dt)) {
      font-size: theme(digitv2.fontSize.caption-xl);
    }
  }

  // Caption XL
  &.text-caption-xl {
    font-family: theme(digitv2.fontFamily.sans);
    font-size: theme(digitv2.fontSize.caption-xl);
    font-style: theme(digitv2.fontStyle.normal);
    font-weight: theme(digitv2.fontWeight.regular);

    @media (max-width: theme(digitv2.screens.sm.max)) {
      font-size: theme(digitv2.fontSize.caption-xl);
    }
  }

  // Caption L DT
  &.text-caption-l-dt {
    font-family: theme(digitv2.fontFamily.rc);
    font-size: theme(digitv2.fontSize.caption-l-dt);
    font-style: theme(digitv2.fontStyle.normal);
    font-weight: theme(digitv2.fontWeight.regular);

    @media (max-width: theme(digitv2.screens.dt)) {
      font-size: theme(digitv2.fontSize.caption-l);
    }
  }

  // Caption L
  &.text-caption-l {
    font-family: theme(digitv2.fontFamily.sans);
    font-size: theme(digitv2.fontSize.caption-l);
    font-style: theme(digitv2.fontStyle.normal);
    font-weight: theme(digitv2.fontWeight.regular);

    @media (max-width: theme(digitv2.screens.sm.max)) {
      font-size: theme(digitv2.fontSize.caption-l);
    }
  }

  // Caption M DT
  &.text-caption-m-dt {
    font-family: theme(digitv2.fontFamily.rc);
    font-size: theme(digitv2.fontSize.caption-m-dt);
    font-style: theme(digitv2.fontStyle.normal);
    font-weight: theme(digitv2.fontWeight.regular);

    @media (max-width: theme(digitv2.screens.dt)) {
      font-size: theme(digitv2.fontSize.caption-m);
    }
  }

  // Caption M
  &.text-caption-m {
    font-family: theme(digitv2.fontFamily.sans);
    font-size: theme(digitv2.fontSize.caption-m);
    font-style: theme(digitv2.fontStyle.normal);
    font-weight: theme(digitv2.fontWeight.regular);

    @media (max-width: theme(digitv2.screens.sm.max)) {
      font-size: theme(digitv2.fontSize.caption-m);
    }
  }

  // Form Field
  &.text-form-field {
    font-family: theme(digitv2.fontFamily.sans);
    font-size: theme(digitv2.fontSize.form-field);
    font-style: theme(digitv2.fontStyle.normal);
    font-weight: theme(digitv2.fontWeight.regular);
  }

  // Body L DT
  &.text-body-l-dt {
    font-family: theme(digitv2.fontFamily.rc);
    font-size: theme(digitv2.fontSize.body-l-dt);
    font-style: theme(digitv2.fontStyle.normal);
    font-weight: theme(digitv2.fontWeight.regular);

    @media (max-width: theme(digitv2.screens.dt)) {
      font-size: theme(digitv2.fontSize.body-l);
    }
  }

  // Body L
  &.text-body-l {
    font-family: theme(digitv2.fontFamily.sans);
    font-size: theme(digitv2.fontSize.body-l);
    font-style: theme(digitv2.fontStyle.normal);
    font-weight: theme(digitv2.fontWeight.regular);

    @media (max-width: theme(digitv2.screens.sm.max)) {
      font-size: theme(digitv2.fontSize.body-l);
    }
  }

  // Body S DT
  &.text-body-s-dt {
    font-family: theme(digitv2.fontFamily.rc);
    font-size: theme(digitv2.fontSize.body-s-dt);
    font-style: theme(digitv2.fontStyle.normal);
    font-weight: theme(digitv2.fontWeight.regular);

    @media (max-width: theme(digitv2.screens.dt)) {
      font-size: theme(digitv2.fontSize.body-s);
    }
  }

  // Body S
  &.text-body-s {
    font-family: theme(digitv2.fontFamily.sans);
    font-size: theme(digitv2.fontSize.body-s);
    font-style: theme(digitv2.fontStyle.normal);
    font-weight: theme(digitv2.fontWeight.regular);

    @media (max-width: theme(digitv2.screens.sm.max)) {
      font-size: theme(digitv2.fontSize.body-s);
    }
  }

  // Legend
  &.text-legend {
    font-family: theme(digitv2.fontFamily.sans);
    font-size: theme(digitv2.fontSize.legend);
    font-style: theme(digitv2.fontStyle.normal);
    font-weight: theme(digitv2.fontWeight.regular);
  }

  // Link
  &.text-link {
    font-family: theme(digitv2.fontFamily.sans);
    font-size: theme(digitv2.fontSize.link);
    font-style: theme(digitv2.fontStyle.normal);
    font-weight: theme(digitv2.fontWeight.regular);
  }

  // Text Button
  &.text-text-btn {
    font-family: theme(digitv2.fontFamily.sans);
    font-size: theme(digitv2.fontSize.text-btn);
    font-style: theme(digitv2.fontStyle.normal);
    font-weight: theme(digitv2.fontWeight.regular);
  }
}
