.typography {
  &.text-heading-xl {
    font-family: theme(digitv2.fontFamily.rc);
    font-style: theme(digitv2.fontStyle.normal);
    font-weight: theme(digitv2.fontWeight.bold);
    color: theme(digitv2.lightTheme.text-color-primary);
    line-height: theme(digitv2.lineHeight.normal);

    @media screen and (min-width: theme(digitv2.screens.desktop)) {
      font-size: theme(digitv2.fontSize.heading-xl[2]);
    }

    @media screen and (min-width: theme(digitv2.screens.tablet)) {
      font-size: theme(digitv2.fontSize.heading-xl[1]);
    }

    @media screen and (min-width: theme(digitv2.screens.mobile)) {
      font-size: theme(digitv2.fontSize.heading-xl[0]);
    }
  }

  &.text-heading-l {
    font-family: theme(digitv2.fontFamily.sans);
    font-style: theme(digitv2.fontStyle.normal);
    font-weight: theme(digitv2.fontWeight.bold);
    color: theme(digitv2.lightTheme.text-color-primary);
    line-height: theme(digitv2.lineHeight.normal);

    @media screen and (min-width: theme(digitv2.screens.desktop)) {
      font-size: theme(digitv2.fontSize.heading-l[2]);
    }
    @media screen and (min-width: theme(digitv2.screens.tablet)) {
      font-size: theme(digitv2.fontSize.heading-l[1]);
    }

    @media screen and (min-width: theme(digitv2.screens.mobile)) {
      font-size: theme(digitv2.fontSize.heading-l[0]);
    }
  }
  &.text-heading-m {
    font-family: theme(digitv2.fontFamily.sans);
    font-style: theme(digitv2.fontStyle.normal);
    font-weight: theme(digitv2.fontWeight.bold);
    color: theme(digitv2.lightTheme.text-color-primary);
    line-height: theme(digitv2.lineHeight.normal);

    @media screen and (min-width: theme(digitv2.screens.desktop)) {
      font-size: theme(digitv2.fontSize.heading-m[2]);
    }
    @media screen and (min-width: theme(digitv2.screens.tablet)) {
      font-size: theme(digitv2.fontSize.heading-m[2]);
    }

    @media screen and (min-width: theme(digitv2.screens.mobile)) {
      font-size: theme(digitv2.fontSize.heading-m[2]);
    }
  }
  &.text-heading-s {
    font-family: theme(digitv2.fontFamily.sans);
    font-style: theme(digitv2.fontStyle.normal);
    font-weight: theme(digitv2.fontWeight.bold);
    color: theme(digitv2.lightTheme.text-color-primary);
    line-height: theme(digitv2.lineHeight.normal);

    @media screen and (min-width: theme(digitv2.screens.desktop)) {
      font-size: theme(digitv2.fontSize.heading-s[0]);
    }
    @media screen and (min-width: theme(digitv2.screens.tablet)) {
      font-size: theme(digitv2.fontSize.heading-s[0]);
    }

    @media screen and (min-width: theme(digitv2.screens.mobile)) {
      font-size: theme(digitv2.fontSize.heading-s[0]);
    }
  }
  &.text-heading-xs {
    @media screen and (min-width: theme(digitv2.screens.mobile)) {
      font-size: theme(digitv2.fontSize.heading-s[0]);
      font-family: theme(digitv2.fontFamily.sans);
      font-style: theme(digitv2.fontStyle.normal);
      font-weight: theme(digitv2.fontWeight.bold);
      color: theme(digitv2.lightTheme.text-color-primary);
      line-height: theme(digitv2.lineHeight.normal);
    }
  }
  &.text-caption-l {
    font-family: theme(digitv2.fontFamily.sans);
    font-style: theme(digitv2.fontStyle.italic);
    font-weight: theme(digitv2.fontWeight.medium);
    color: theme(digitv2.lightTheme.text-color-primary);
    line-height: theme(digitv2.lineHeight.normal);

    @media screen and (min-width: theme(digitv2.screens.desktop)) {
      font-size: theme(digitv2.fontSize.caption-l[2]);
    }
    @media screen and (min-width: theme(digitv2.screens.tablet)) {
      font-size: theme(digitv2.fontSize.caption-l[1]);
    }

    @media screen and (min-width: theme(digitv2.screens.mobile)) {
      font-size: theme(digitv2.fontSize.caption-l[0]);
    }
  }

  &.text-caption-m {
    font-family: theme(digitv2.fontFamily.sans);
    font-style: theme(digitv2.fontStyle.italic);
    font-weight: theme(digitv2.fontWeight.medium);
    color: theme(digitv2.lightTheme.text-color-primary);
    line-height: theme(digitv2.lineHeight.normal);

    @media screen and (min-width: theme(digitv2.screens.desktop)) {
      font-size: theme(digitv2.fontSize.caption-m[2]);
    }
    @media screen and (min-width: theme(digitv2.screens.tablet)) {
      font-size: theme(digitv2.fontSize.caption-m[1]);
    }

    @media screen and (min-width: theme(digitv2.screens.mobile)) {
      font-size: theme(digitv2.fontSize.caption-m[0]);
    }
  }

  &.text-caption-s {
    font-family: theme(digitv2.fontFamily.sans);
    font-style: theme(digitv2.fontStyle.italic);
    font-weight: theme(digitv2.fontWeight.medium);
    color: theme(digitv2.lightTheme.text-color-primary);
    line-height: theme(digitv2.lineHeight.normal);

    @media screen and (min-width: theme(digitv2.screens.desktop)) {
      font-size: theme(digitv2.fontSize.caption-s[2]);
    }
    @media screen and (min-width: theme(digitv2.screens.tablet)) {
      font-size: theme(digitv2.fontSize.caption-s[1]);
    }

    @media screen and (min-width: theme(digitv2.screens.mobile)) {
      font-size: theme(digitv2.fontSize.caption-s[0]);
    }
  }
  &.text-body-l {
    font-family: theme(digitv2.fontFamily.sans);
    font-style: theme(digitv2.fontStyle.italic);
    font-weight: theme(digitv2.fontWeight.regular);
    color: theme(digitv2.lightTheme.text-color-primary);

    @media screen and (min-width: theme(digitv2.screens.desktop)) {
      font-size: theme(digitv2.fontSize.body-l[2]);
      line-height: theme(digitv2.lineHeight.line-height-body-l[2]);
    }
    @media screen and (min-width: theme(digitv2.screens.tablet)) {
      font-size: theme(digitv2.fontSize.body-l[1]);
      line-height: theme(digitv2.lineHeight.line-height-body-l[1]);
    }

    @media screen and (min-width: theme(digitv2.screens.mobile)) {
      font-size: theme(digitv2.fontSize.body-l[0]);
      line-height: theme(digitv2.lineHeight.line-height-body-l[0]);
    }
  }
  &.text-body-s {
    font-family: theme(digitv2.fontFamily.sans);
    font-style: theme(digitv2.fontStyle.italic);
    font-weight: theme(digitv2.fontWeight.regular);
    color: theme(digitv2.lightTheme.text-color-primary);

    @media screen and (min-width: theme(digitv2.screens.desktop)) {
      font-size: theme(digitv2.fontSize.body-s[2]);
      line-height: theme(digitv2.lineHeight.line-height-body-s[2]);
    }
    @media screen and (min-width: theme(digitv2.screens.tablet)) {
      font-size: theme(digitv2.fontSize.body-s[1]);
      line-height: theme(digitv2.lineHeight.line-height-body-s[1]);
    }

    @media screen and (min-width: theme(digitv2.screens.mobile)) {
      font-size: theme(digitv2.fontSize.body-s[0]);
      line-height: theme(digitv2.lineHeight.line-height-body-s[0]);
    }
  }
  &.text-body-xs {
    font-family: theme(digitv2.fontFamily.sans);
    font-style: theme(digitv2.fontStyle.italic);
    font-weight: theme(digitv2.fontWeight.regular);
    color: theme(digitv2.lightTheme.text-color-primary);

    @media screen and (min-width: theme(digitv2.screens.desktop)) {
      font-size: theme(digitv2.fontSize.body-xs[2]);
      line-height: theme(digitv2.lineHeight.line-height-body-xs[2]);
    }
    @media screen and (min-width: theme(digitv2.screens.tablet)) {
      font-size: theme(digitv2.fontSize.body-xs[1]);
      line-height: theme(digitv2.lineHeight.line-height-body-xs[1]);
    }

    @media screen and (min-width: theme(digitv2.screens.mobile)) {
      font-size: theme(digitv2.fontSize.body-xs[0]);
      line-height: theme(digitv2.lineHeight.line-height-body-xs[0]);
    }
  }
  &.text-label {
    font-family: theme(digitv2.fontFamily.sans);
    font-style: theme(digitv2.fontStyle.italic);
    font-weight: theme(digitv2.fontWeight.regular);
    color: theme(digitv2.lightTheme.text-color-primary);
    line-height: theme(digitv2.lineHeight.normal);

    @media screen and (min-width: theme(digitv2.screens.desktop)) {
      font-size: theme(digitv2.fontSize.label[0]);
    }
    @media screen and (min-width: theme(digitv2.screens.tablet)) {
      font-size: theme(digitv2.fontSize.label[0]);
    }

    @media screen and (min-width: theme(digitv2.screens.mobile)) {
      font-size: theme(digitv2.fontSize.label[0]);
    }
  }
  &.text-link {
    font-family: theme(digitv2.fontFamily.sans);
    font-style: theme(digitv2.fontStyle.normal);
    font-weight: theme(digitv2.fontWeight.regular);
    color: theme(digitv2.lightTheme.text-color-primary);
    line-height: theme(digitv2.lineHeight.normal);
    text-decoration: theme(digitv2.textDecorationLine.underline);

    @media screen and (min-width: theme(digitv2.screens.desktop)) {
      font-size: theme(digitv2.fontSize.link[0]);
    }
    @media screen and (min-width: theme(digitv2.screens.tablet)) {
      font-size: theme(digitv2.fontSize.link[0]);
    }

    @media screen and (min-width: theme(digitv2.screens.mobile)) {
      font-size: theme(digitv2.fontSize.link[0]);
    }
  }
}
